# Exclude binaries and large assets
bin/
bundle/
fonts/
fontconfigs/
*.o
*.zip
*.png
*.pdf
__pycache__/
*.pyc
*.pyo
*.exe
*.dll
*.so
*.dylib
*.tar
*.tar.gz
*.tar.bz2
*.7z
*.rar
*.msi
*.deb
*.rpm
*.egg-info/
